.emacs.d/backup
.emacs.d/auto-save-list
.emacs.d/erc-log
.emacs.d/url
.emacs.d/ac-comphist.dat
.emacs.d/abbrev_defs
.emacs.d/network-security.data
.emacs.d/elpa
.emacs.d/TAGS
.emacs.d/history
.emacs.d/\#\!*
.emacs.d/manually-installed/**/*.elc
private
