[push]
	default = simple
	autoSetupRemote = true
[core]
	excludesfile = ~/.gitignore_global
[fetch]
    prune = on
[grep]
	lineNumber = true
	extendRegexp = true

[user]
	email = mc@rmrf.fr
	name = JeanMax
[color]
	ui = auto
